.product{
    display: flex;
    justify-content: space-between;
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: fadeUp 0.5s forwards;
       
        // &:nth-child(1){

        // }
        &:nth-child(2){
            animation-delay: 0.2s;
        }
        &:nth-child(3){
            animation-delay: 0.4s;
        }
    }
}
@keyframes fadeUp{
    // from{
    //     transform:  translateY(300px);
    // }
    // to{
    //     transform: translateY(0px);
    // }
    0%{
        opacity: 0;
        transform: translateY(300px);
    }
    10%{
        opacity: 1;
        transform: translateY(100px);
    }
    70%{
        opacity: 0;
        transform:  translateY(-10px) scaleX(0.5);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scaleX(1);
    }
}