*{
    margin:0;
    padding:0;
    border:none;
    font-family: 'Open Sans', sans-serif;
}
body {
    overflow: hidden;
    background-color:black;
}
.to {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(100px,auto);
}
// .header{
//     height: 100hv;
//     width: 100hv;
//     text-align: center;
//     align-items: center;
//     .logo{
//         float: left;
//         height: 60px;
//         img{
//             height: 60px;
//             width: auto;
//         }
//     }
//     .container{
//         background-color: black;
//         display: flex;
//         padding: 10px;
//         text-align: center;
//         align-items: center;
//         cursor: pointer;
//         justify-content: space-between;
//         .left{
//             justify-content: space-between;
//             display: flex;
//             text-align: center;
//             align-items: center;
//             .menu1{
//                 ul{
//                     display: flex;
//                     list-style: none;
//                 }
//                 li{
                    
//                     :hover{
//                         background-color: yellow;
//                         color: black;
//                         border-radius: 2px;
//                     }
//                 }
//             }
//         }
//         .right{
        
//            ul{
//                 display: flex;
//                 list-style: none;
//                 justify-content: space-between;
//             }
//             li{
//                 a{
//                     color: yellow;
                    
//                 }  
//                 :hover{
//                     background-color: red;
//                     color: black;
//                     border-radius: 2px;
//                 }     
//             }
//         }
//         a{
//             color: white;
//             padding: 6px 16px;
//             text-decoration: none;
//         }
//         .clearfix{
//             clear: both;
//         }
//         .find{
//             // input{
//             //     border-radius: 5px;
//             //     background-color: silver;
//             // }input[type="text"] {
//             input{
//                 width: 500px;
//                 box-sizing: border-box;
//                 border: 1px solid yellow;
//                 border-radius: 10px;
//                 outline:none;
//                 padding: 12px 14px;
//                 transition:0.4s ease-in-out;
//                 background-color: silver;
//             }
//             input[type="text"]:focus{
//                 width:500px; 
//                 background-color:lightpink;
//             }
//         }
//     }
// }
.form {
    border: 1px solid #80808000;
    grid-column: 6/9;
    grid-row: 3;
    height: 360px;
    width: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: #282828;
}
h2 {
    padding: 20px;
    color: yellow;
}
img{
    display: block;
    margin-bottom: 20px;
    font-size: 28px;
}
 
label {
    margin-left: -126px;
    display: block;
    font-weight: lighter;
    padding: 10px;
    color: peru;
}
input{
    width: 250px;
    box-sizing: border-box;
    border: 1px solid yellow;
    border-radius: 10px;
    outline:none;
    padding: 10px 12px;
    transition:0.4s ease-in-out;
    background-color: silver;
}
input[type="text"]:focus{
    width:200px; 
    background-color:lightpink;
}
input[type="password"]:focus{
    width:200px; 
    background-color:lightpink;
}
input#submit {
    padding: 7px;
    width: 50%;
    border-radius: 10px;
    border: none;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #fc00ff, #00dbde);
}
input#submit:hover{
 
    background: linear-gradient(to right, #fc466b, #3f5efb); 
}